body{
  margin:10px;
  background-color: #F1F3F9;
}
.parent {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.parent div{
  background-color: white;
  border-radius: 14px;
}

.div1 {
  grid-area: 1 / 1 / 2 / 2;
}
.div2 {
  grid-area: 2/ 1 / 3 / 2;
}
.div3 {
  grid-area: 1 / 2 / 2 / 4;
  max-height: 394px;
}
.div4 {
  grid-area: 2 / 2 / 3 / 4;
  height: 400px;
}
