.parent {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.div1 {
  grid-area: 1 / 1 / 2 / 2;
  background-color: lightcyan;
}
.div2 {
  grid-area: 1 / 2 / 2 / 3;
  background-color: lightgoldenrodyellow;
}
.div3 {
  grid-area: 1 / 3 / 2 / 4;
  background-color: lightsteelblue;
}
.div4 {
  grid-area: 2 / 1 / 3 / 4;
  background-color: aquamarine;
}
